.container {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.left-column {
  /* border: 1px solid red; */
  background-color: #f3efe9;
  position: relative;
  width: 80%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.left-column--map {
  width: 100%;
  max-height: 100%;
  /* flex-shrink: 1; */
  z-index: 0;
}

.right-column {
  /* border: 1px solid blue; */
  background-color: #fff9ea;
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100vh;
}

.top-menu {
  /* border: 1px solid orange; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 20%;
  background-color: #f3efe9;
  margin-bottom: -20px;
  z-index: 1;
  border-radius: 0px 0px 30px 30px;


}

.message-box {
  /* border: 1px solid green; */
  background-color: #c77b41;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  border-radius: 0px 0px 30px 30px;
}



.monuments-box {
  /* border: 1px solid rgb(230, 21, 56); */
  background-color: #fff9ea;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 60%;
  margin: 20px 0;
}

.monuments-box--list {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
}

.btn {
  width: 100px;
  height: 35px;
  border: 1px solid #c77b41;
  border-radius: 30px;
  color: #c77b41;
  background-color: rgba(0, 0, 0, 0);
  font-family: "Poppins", serif;
}

.btn:hover {
  background-color: #c77b41;
  color: #fff9ea;
  cursor: pointer
}

.top-menu .btn {
  background-color: rgba(0, 0, 0, 0);
  color: #475e9b;

  border: 1px solid #475e9b;
}

.top-menu .btn:hover {
  background-color: #475e9b;
  color: #fff9ea;
}

.color-answer-neutral {
  background-color: #c77b41;
}

.color-answer-right {
  background-color: #92B174;
}

.viewport {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;

}

.viewport>* {
  flex: auto 0 0;
}


@media (min-width: 768px) {
  .btn-menu {
    width: 150px;
    height: 50px;
    font-weight: 600;
    font-size: 18px;
  }
}
