.container {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.left-column {
  /* border: 1px solid red; */
  background-color: #fff9ea;
  position: relative;
  width: 80%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

/* .viewport {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

} */

/* .viewport>* {} */


.left-column--map {
  width: 100%;
  flex: auto 0 0;
  max-height: 100%;
  /* flex-shrink: 1; */
  z-index: 0;
}

.right-column {
  /* border: 1px solid blue; */
  background-color: #fff9ea;
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100vh;
}

.top-menu {
  /* border: 1px solid orange; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 20%;
  background-color: #f3efe9;
  margin-bottom: -20px;
  z-index: 1;
  border-radius: 0px 0px 30px 30px;


}

.message-box {
  /* border: 1px solid green; */
  background-color: #c77b41;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  border-radius: 0px 0px 30px 30px;
}



.monuments-box {
  /* border: 1px solid rgb(230, 21, 56); */
  background-color: #fff9ea;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 60%;
  margin: 20px 0;
}

.monuments-box--list {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  padding: 10px;
}

.btn {
  width: 100px;
  height: 35px;
  border: 1px solid #c77b41;
  border-radius: 30px;
  color: #c77b41;
  background-color: rgba(0, 0, 0, 0);
  font-family: "Poppins", serif;
}

.btn:hover {
  background-color: #c77b41;
  color: #fff9ea;
  cursor: pointer
}

.top-menu .btn {
  background-color: rgba(0, 0, 0, 0);
  color: #475e9b;

  border: 1px solid #475e9b;
}

.top-menu .btn:hover {
  background-color: #475e9b;
  color: #fff9ea;
}

.color-answer-neutral {
  background-color: #c77b41;
}

.color-answer-right {
  background-color: #92B174;
}


.home-icon,
.question-icon {
  height: 40px;
  width: 40px;
  color: #475e9b;
  display: none;
}




@media (min-width: 768px) {
  .btn-menu {
    width: 150px;
    height: 50px;
    font-weight: 600;
    font-size: 18px;
  }
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .left-column {
    width: 100vw;
    height: 80vh;
  }

  .right-column {
    flex-direction: row;
    width: 100vw;
    height: 20vh;
    z-index: 1;
  }

  .monuments-box {

    flex-direction: row;
    margin: 0;
    align-items: center;
    justify-content: start;
    gap: 0;
    height: 100%
  }

  .monuments-box--list {

    flex-direction: row;
    width: 60vw;

  }

  .top-menu {
    height: 100%;
    padding: 20px;
  }

  .message-box {
    height: 100%;
    width: 20vw;
    flex-shrink: 0;
  }


  .btn-menu {
    display: none;
  }

  .home-icon,
  .question-icon {

    display: block;
  }

  .monument-svg {
    width: 85px;
    height: 85px;
  }

}
