.message-box--text {
  color: #fff9ea;
  text-align: center;
  font-family: "STIX Two Text", serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 20px
}

@media (max-width: 900px) {
  .message-box--text {
    font-size: 1rem;
    margin-top: 0;
    margin-left: 20px;
  }


}
