header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  background-color: #A75A00;
  text-align: left;
  border-radius: 0 0 20px 20px;
  align-items: center;
  z-index: 1;
}

.container--hamburger-menu {
  padding: 20px;
}

.logo__header {
  margin: 27px;
  background-image: url(./img/logo.png);
  width: 90px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: center;
}
