.rudolfinum-position {
  position: absolute;
  left: 30px;
  top: 100px;
}

.orloj-position {
  position: absolute;
  left: 300px;
  top: 500px;
}

.narodni-divadlo-position {
  position: absolute;
  left: 600px;
  top: 700px;
}

.tancici-dum-position {
  position: absolute;
  left: 800px;
  bottom: 200px;
}
