/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap');

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F5F5F5;
}


body {
  margin: 0%;
  width: 100vw;
  background-image: linear-gradient(to bottom, #FFEFD2, #FFFAF0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  /* height: auto; */
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  background-color: #CB6F03;
  text-align: left;
  border-radius: 0 0 20px 20px;
}

*/ .container--hamburger-menu {
  padding: 20px;
}

.hero--col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(255, 255, 253, 0.772), rgba(255, 255, 253, 0.772)), url(./img/mapa.svg) center/cover no-repeat;
  z-index: 0;
  margin: -25px 0;
}


.logo {
  margin: 20px;
  background-image: url(./img/logo_prague.png);
  height: 191px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 75px;

}

.about--description {
  padding-bottom: 26px;
  text-align: center;
}

/* main */

main {
  display: flex;
  flex-direction: column;
  /* padding: 20px 20px 0 20px; */
}


h1 {
  color: #A75A00;
  font-family: "STIX two text", sans-serif, 'Times New Roman', Times, serif;
  font-size: 46px;
  /* margin: 12px; */
  /* font-weight: 20px; */
}

/* buttons */
.btns-container {

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;

}

.button {
  border-radius: 100px;
  width: 260px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  margin: 10px 0;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  background-color: #CB6F03;
  color: #FFEFD2;


}

.btn a {
  text-decoration: none;

}

.bth--monuments {
  background-color: #485E9B;
  color: #FFEFD2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);


}

.bth--monuments:hover {
  background-color: #2d3b60;
}

.bth--about-us:hover {
  background-color: #5d1705;

}

.homepage-about {
  margin-bottom: 20px;
  padding: 20px;
}



/* media queries */

/* tablets */
@media (min-width: 576px) {
  .btns-container {
    flex-direction: row;
  }

}

/* 
@media (min-width: 820px) and (max-width: 900px) {

  .hero--left-col {
    padding: 48px;
    height: 100vh;
  }
}

@media (min-width: 900px) and (max-width: 992px) {
  main {
    min-height: 85vh;
    width: 100vw;
    text-align: left;
    flex-direction: row;
  }

  .hero--left-col {
    padding: 20px;

  }



  .btn {
    margin-right: 10px;
    font-size: 14px;
    width: 200px;
  }


}

@media (min-width: 992px) {

  main {
    width: 95vw;
    min-height: 80vh;
    text-align: left;
    flex-direction: row;
    padding-top: 50px;
    justify-content: space-around;
    margin: auto;
  }

  h1 {
    font-size: 48px;
  }

  .btns-container {
    flex-direction: row;

  }

  .btn {
    margin-right: 10px;
    font-size: 14px;
    width: 200px;
  }


  footer {
    height: 10vh
  }

} */
