/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap');

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F5F5F5;
}


body {
  margin: 0%;
  width: 100vw;
  background-image: linear-gradient(to bottom, #FFEFD2, #FFFAF0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  background-color: #CB6F03;
  text-align: left;
  border-radius: 0 0 20px 20px;
}

*/ .container--hamburger-menu {
  padding: 20px;
}

.hero--col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(255, 255, 253, 0.772), rgba(255, 255, 253, 0.772)), url(./img/mapa.svg) center/cover no-repeat;
  z-index: 0;
  margin: -25px 0;
  min-height: 100vh;
  gap: 10px;
}


.logo {
  margin: 0 20px;
  background-image: url(./img/logo_prague.png);
  height: 191px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 60px;

}

.about--description {
  padding-bottom: 10px;
  text-align: center;
  color: #2d3b60;
}

/* main */

main {
  display: flex;
  flex-direction: column;
}


h1 {
  color: #A75A00;
  font-family: "STIX two text", sans-serif, 'Times New Roman', Times, serif;
  font-size: 35px;
}

/* buttons */
.btns-container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;

}

.button {
  border-radius: 100px;
  width: 260px;
  height: 55px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  margin: 10px 0;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  background-color: #CB6F03;
  color: #FFEFD2;
}

.btn a {
  text-decoration: none;

}

.bth--monuments {
  background-color: #485E9B;
  color: #FFEFD2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);


}

.bth--monuments:hover {
  background-color: #2d3b60;
}

.bth--about-us:hover {
  background-color: #5d1705;

}

.homepage-about {
  margin-bottom: 20px;
  padding: 0 20px;

}

.about--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



/* media queries */

@media (min-width: 550px) {
  .btns-container {
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
  }

  .logo {
    margin-bottom: 26px;
  }


}



@media (min-height: 1200px) {

  .hero--left-col {
    min-height: 100vh;
  }


}

@media (min-width: 1200px) {
  .btns-container {
    max-width: 800px;
  }

  .hero--col {
    height: 85vh;
    min-height: 0;

  }



}
